# REQUIRED

repository_url = ""

base_branch = ""

github_token = ""

github_repo = ""

accounts_yaml = ""

# OPTIONAL

# ci_policy_arn = "arn:aws:Iam:aws:policy/ReadOnlyAccess"

# policystream_version = "0.4.12"

# c7n_org_version = "0.6.12"

# c7n_version = "0.9.13"

# tags = {}

# policy_dir = "policies"

# output_dir = "output"

# github_api_url = "https://api.github.com"

# resource_threshold = 10

# resource_threshold_percent = 1

# bucket = ""
